@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.fraunce-font {
  font-family: "Fraunces", serif;
}
.active {
  background-color: none;
}
body {
  color: #ffffff;
  font-family: "Fraunces", serif;
}
:root {
  --first: #006868;
  --second: #008081;
}
.menu li > details > summary:active {
  background-color: none;
}
.thumbs {
  text-align: center;
}
.thumbs-wrapper {
  margin: 5px !important;
}
/* Add this to your CSS file or in a style tag */
.relative:hover .expand {
  display: block;
}

.expand {
  display: none;
}
.carousel-status {
  display: none;
}
